@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  color-scheme: dark;
}

body {
  background-color: #202023;
  color: #fff;
}

.mr-ani{
  animation: anim 1s forwards;
}

@keyframes anim {
  from{
    transform: translateY(50px);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.rdx-4dog{
  animation: moveDog 4s infinite;
  z-index: 20;
}


@keyframes moveDog {
  0%{
    transform: translateY(0);
  }

  50%{
    transform: translateX(-20px);
  }

}
